body {
    font-family: "Lato", sans-serif;
    color: #676858;
    font-weight: 300;
    color: white;

   
}

.container {
    display: grid;
    background-image: url("img/background.jpg");
}
article{
    color: white;


}

.img-responsive {
    max-width: 500px;
}

.img-featured {
    max-width: 360px;
    height: 290px;
}

.text-muted {
    color: white;
}

.text-thin {
    font-weight: 200;
}


.title-super {
    font-size: 60px;
    text-shadow: 3px 3px black;
}

.title-logo {
    margin-top: 20px;
    max-width: 300px;
}

a p:hover {
    text-decoration: underline;
}

.brightness {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
img{
    filter: brightness(150%);
}

a img:hover {
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

footer {
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 30px;
}
