body {
    font-family: "Lato", sans-serif;
    color: #676858;
    font-weight: 300;
    color: white;
    width: 100%;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
}

.container {
    display: grid;

}
a{
    color: white;
}
a:hover {
    color: white;
}

article{
    color: white;
}

.img-responsive {
    max-width: 500px;
}

.img-featured {
    max-width: 360px;
    height: 290px;
}

.text-muted {
    color: white;
}

.text-thin {
    font-weight: 200;
}


.title-super {
    font-size: 5rem;
    text-shadow: 3px 3px black;
}

.title-logo {
    margin-top: 20px;
    max-width: 300px;
}

a p:hover {
    text-decoration: underline;
}

.brightness {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
img{
    filter: brightness(150%);
}

a img:hover {
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
#contactos{
    margin: 30px 0 30px 0;
}


footer {
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 30px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    header{
        text-align: center;
        padding: none;
    }

    .logo{
        width: 50%;
        margin: auto;
    }

    header img{
        width: 100%
    }

    .right-side-xs{
        text-align: right;

    }

    .text-muted{
        text-align: center;

    }

    
    article img{
        width: 50%;
        margin: auto;
    }

    #contactos{
        font-size: 3rem;
    }

    


  }
